<div class="area">
    <div class="post">
      <h2>Banana cocktail</h2>
      <hr>
      <p align="center">
      <img src="https://image.flaticon.com/icons/png/512/714/714197.png" height="110px">
      </p> <br>
      <h2 style="float:left;"> {{ prod[0] }} uhr</h2>
      <p align="right">
      <button class="btn-buy" (click)="addItem('Banana cocktail')" (click)="addNum()">BUY</button>
      </p>
    </div>
  
    <div class="post">
        <h2>Apple cocktail</h2>
        <hr>
        <p align="center">
        <img src="https://cdn.pixabay.com/photo/2019/02/24/13/05/apple-icon-4017545_960_720.png" height="110px">
        </p> <br>
        <h2 style="float:left;"> {{ prod[0] }} uhr</h2>
        <p align="right">
        <button class="btn-buy" (click)="addItem('Apple cocktail')" (click)="addNum()">BUY</button>
        </p>
      </div>
  
      <div class="post">
          <h2>Orange cocktail</h2>
          <hr>
          <p align="center">
          <img src="https://img10.androidappsapk.co/300/d/6/3/com.freedom.ocregister.png" height="110px">
          </p> <br>
          <h2 style="float:left;"> {{ prod[0] }} uhr</h2>
          <p align="right">
          <button class="btn-buy" (click)="addItem('Orange cocktail')" (click)="addNum()">BUY</button>
          </p>
        </div>
        
        <div class="post">
            <h2>Mix cocktail</h2>
            <hr>
            <p align="center">
            <img src="https://icons-for-free.com/iconfiles/png/512/shake-131983752904819846.png" height="110px">
            </p> <br>
            <h2 style="float:left;"> {{ prod[2] }} uhr</h2>
            <p align="right">
            <button class="btn-buy" (click)="addItem('Mix cocktail')" (click)="addNum()">BUY</button>
            </p>
          </div>

          <div class="post">
              <h2>Cherry cocktail</h2>
              <hr>
              <p align="center">
              <img src="https://icons-for-free.com/iconfiles/png/512/berry+cherries+cherry+food+fruit+spring+icon-1320195251037137957.png" height="110px">
              </p> <br>
              <h2 style="float:left;"> {{ prod[0] }} uhr</h2>
              <p align="right">
              <button class="btn-buy" (click)="addItem('Cherry cocktail')" (click)="addNum()">BUY</button>
              </p>
            </div>

            <div class="post">
                <h2>Lemon cocktail</h2>
                <hr>
                <p align="center">
                <img src="http://icons.iconarchive.com/icons/alex-t/fresh-fruit/1024/lemon-icon.png" height="110px">
                </p> <br>
                <h2 style="float:left;"> {{ prod[0] }} uhr</h2>
                <p align="right">
                <button class="btn-buy" (click)="addItem('Lemon cocktail')" (click)="addNum()">BUY</button>
                </p>
              </div>

              <div class="post">
                  <h2>Tomato cocktail</h2>
                  <hr>
                  <p align="center">
                  <img src="https://image.flaticon.com/icons/png/512/184/184540.png" height="110px">
                  </p> <br>
                  <h2 style="float:left;"> {{ prod[0] }} uhr</h2>
                  <p align="right">
                  <button class="btn-buy" (click)="addItem('Tomato cocktail')" (click)="addNum()">BUY</button>
                  </p>
                </div>

                <div class="post">
                    <h2>Cucumber cocktail</h2>
                    <hr>
                    <p align="center">
                    <img src="http://icons.iconarchive.com/icons/icons-land/3d-food/256/Vegetable-Cucumber-icon.png" height="110px">
                    </p> <br>
                    <h2 style="float:left;"> {{ prod[0] }} uhr</h2>
                    <p align="right">
                    <button class="btn-buy" (click)="addItem('Cucumber cocktail')" (click)="addNum()">BUY</button>
                    </p>  
                  </div>
  </div>